body {
font-family: Arial, sans-serif;
font-size: 1.3rem;
background-color: #f5f7fa;
margin: 0;
color: #333;
text-align: center;
}

header {
background-color: #4CAF50;
color: white;
text-align: center;
padding: 1em;
}

nav a {
color: white;
margin: 0 10px;
text-decoration: none;
font-weight: bold;
}

nav a:hover {
text-decoration: underline;
}

main {
padding: 20px;
}

footer {
background-color: #a395959a;
text-align: center;
padding: 1em;
margin-top: 20px;
letter-spacing: 0.5px;
}

h2{
    font-family: Arial, sans-serif;
    margin-top: 20px;
    padding: 20px;
    background-color:rgb(36, 240, 255)
}

h3{
    font-family: Arial, sans-serif;
    margin-top: 20px;
    padding: 20px;
    background-color:rgb(145, 215, 248)
}