{% extends 'base.html' %}
{% block title %}Calculadora de IMC{% endblock %}
{% block contenido %}

<h1 class="mb-4 text-center bg-secondary text-white p-2">Indice De Masa Corporal</h1>
<form action="{{ url_for('calcular_imc') }}" method="POST">
    <div class="mb-3">
        <label class="form-label">Peso (kg):</label>
        <input type="number" step="0.1" class="form-control" name="peso" placeholder="Introduce tu peso en kg" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Estatura (cm):</label>
        <input type="number" step="0.1" class="form-control" name="estatura" placeholder="Introduce tu estatura en cm" required>
    </div>
    <button type="submit" class="btn btn-primary w-100 py-2">Calcular</button>
</form>

{% if resultado %}
    <h2 class="mt-4">IMC</h2>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Resultado</th>
                <td><strong>{{ resultado }}</strong></td>
            </tr>
        </tbody>
    </table>
{% endif %}
{% endblock %}