{% extends 'base.html' %}

{% block contenido %}
<h1 class="text-center mb-4">Conclusiones</h1>

<p>Las aplicaciones de nutrición ofrecen ventajas, pero los usuarios valoran principalmente la facilidad de uso, personalización y precisión.</p>

<h3 class="mt-4">Recomendaciones</h3>
<ul class="list-group list-group-flush">
    <li class="list-group-item">Diseño simple y visual.</li>
    <li class="list-group-item">Funciones básicas gratuitas.</li>
    <li class="list-group-item">Recordatorios y consejos automáticos.</li>
</ul>
{% endblock %}
