{% extends 'base.html' %}
{% block contenido %}
<h1 class="text-center text-success fw-bold mb-4">Conclusiones</h1>

<div class="card shadow-sm">
<div class="card-body">
    <p>Se aplicó una encuesta a 15 personas para conocer qué aspectos valoran más en una app nutricional.</p>
    <ul class="list-group list-group-flush mt-3">
    <li class="list-group-item"> 60% Nunca ha usado alguna app de nutrición. </li>
    <li class="list-group-item"> 33.3% De la gente dice que es muy importante cuidar lo que comemos y otro 33.3% dice que lo és pero medianamente. </li>
    <li class="list-group-item"> 53.3% Dice que su alimentacion es medianamente saludable, es decir, la mayoría. </li>
    <li class="list-group-item"> 66.7% Respuestas fueron del sexo masculino. </li>
    </ul>
</div>
</div>

<div class="bg-white p-4 rounded shadow-sm">
<p>
    Las aplicaciones de nutrición analizadas ofrecen diversas ventajas, pero los usuarios valoran principalmente
    la <strong>facilidad de uso</strong>, la <strong>personalización</strong> y la <strong>precisión</strong>.
</p>

<h3 class="mt-4 text-success">Recomendaciones</h3>
<ul class="list-group list-group-flush">
    <li class="list-group-item">Diseño atractivo con colores suaves y elementos visuales claros.</li>
    <li class="list-group-item">Funciones básicas gratuitas y accesibles.</li>
    <li class="list-group-item">Incluir recordatorios, metas y consejos automáticos.</li>
</ul>
</div>
{% endblock %}