{% extends 'base.html' %}

{% block contenido %}
<h1 class="text-center text-success fw-bold mb-4">Encuesta a Usuarios</h1>

<div class="card shadow-sm">
<div class="card-body">
    <p>Se aplicó una encuesta a 25 personas para conocer qué aspectos valoran más en una app nutricional.</p>
    <ul class="list-group list-group-flush mt-3">
    <li class="list-group-item"> 60% Nunca ha usado alguna app de nutrición. </li>
    <li class="list-group-item"> 33.3% De la gente dice que es muy importante cuidar lo que comemos y otro 33.3% dice que lo és pero medianamente. </li>
    <li class="list-group-item"> 53.3% Dice que su alimentacion es medianamente saludable, es decir, la mayoría. </li>
    <li class="list-group-item"> 66.7% Respuestas fueron del sexo masculino. </li>
    </ul>
</div>
</div>
{% endblock %}
