{% extends 'base.html' %}
{% block contenido %}
<h1 class="text-center text-success fw-bold mb-4">Información sobre cosas interesantes y saludables.</h1>

<div class="card shadow-sm">
<div class="card-body">
<h2 class="mt-4 text-success">¿Cómo leer etiquetas nutricionales?</h2>
<ul class="list-group list-group-flush mt-3">
    <li class="list-group-item"> <a href="https://www.fda.gov/food/nutrition-facts-label/como-entender-y-utilizar-la-etiqueta-de-informacion-nutricional"> Articulo de interés </a> </li>
</ul>
<h2 class="mt-4 text-success">Mitos y verdades de las dietas modernas:</h2>
<p>Las dietas de moda a menudo prometen resultados rápidos, pero la mayoría son mitos que resultan insostenibles, poco saludables y no conducen a una pérdida de peso duradera. La verdad es que la pérdida de peso sostenible se logra quemando más calorías de las que se consumen, a través de una dieta equilibrada y ejercicio regular. Las verdaderas soluciones implican cambios de hábitos a largo plazo, no soluciones rápidas que suelen ser restrictivas y carecen de nutrientes esenciales. </p>

</div>
</div>
{% endblock %}