{% extends 'base.html' %}
{% block contenido %}
<h1 class="text-center text-success fw-bold mb-4">Información sobre cosas interesantes y saludables.</h1>

<div class="card shadow-sm">
<div class="card-body">
<h2 class="mt-4 text-success">¿Cómo leer etiquetas nutricionales?</h2>
<ul class="list-group list-group-flush mt-3">
    <li class="list-group-item"> <a href="https://www.fda.gov/food/nutrition-facts-label/como-entender-y-utilizar-la-etiqueta-de-informacion-nutricional"> Articulo de interés de etiquetas nutricionales... </a> </li>
</ul>
<h2 class="mt-4 text-success">Mitos y verdades de las dietas modernas:</h2>
<p>Las dietas de moda a menudo prometen resultados rápidos, pero la mayoría son mitos que resultan insostenibles, poco saludables y no conducen a una pérdida de peso duradera. La verdad es que la pérdida de peso sostenible se logra quemando más calorías de las que se consumen, a través de una dieta equilibrada y ejercicio regular. Las verdaderas soluciones implican cambios de hábitos a largo plazo, no soluciones rápidas que suelen ser restrictivas y carecen de nutrientes esenciales. </p>
<h2 class="mt-4 text-success">Guías sobre macronutrientes y su función:</h2>
<ul class="list-group list-group-flush mt-3">
    <li class="list-group-item"> <a href="https://psiquisalud.com/macronutrientes-tipos-y-funciones-en-el-cuerpo-humano/"> Articulo de interés de Macronutrientes... </a> </li>
</ul>
<h2 class="mt-4 text-success">La importancia de la hidratación, la fibra, etc.</h2>
<p>La hidratación adecuada y el consumo suficiente de fibra son pilares esenciales para la salud general, trabajando en sinergia para optimizar las funciones corporales. La hidratación es fundamental para regular la temperatura corporal, transportar nutrientes, eliminar toxinas y lubricar las articulaciones, además de ser crucial para el funcionamiento de todos los órganos. Por su parte, la fibra, proveniente de plantas, mejora significativamente la salud digestiva al prevenir el estreñimiento y promover un colon sano, a la vez que ayuda a controlar los niveles de azúcar y colesterol en sangre y contribuye a la saciedad. Para que la fibra cumpla su función correctamente, es indispensable acompañarla de suficiente agua; de lo contrario, podría causar estreñimiento, demostrando que ambos elementos son interdependientes para mantener un organismo equilibrado y saludable.</p>
</div>
</div>
{% endblock %}