{% extends 'base.html' %}
{% block contenido %}
<p>Este proyecto analiza tres aplicaciones de nutrición: <strong>MyFitnessPal</strong>, <strong>FatSecret</strong> y <strong>Cronometer</strong>.</p>
<p>Se evaluaron sus principales funciones, experiencia de usuario y modelo de negocio para identificar fortalezas y debilidades.</p>
<h3>Objetivos</h3>
<ul>
    <li>Analizar características clave de las aplicaciones de nutrición.</li>
    <li>Conocer las preferencias de los usuarios mediante una encuesta.</li>
    <li>Proponer mejoras para una futura app nutricional.</li>
</ul>
{% endblock %}
