{% extends 'base.html' %}
{% block contenido %}
{% block title %}Introducción{% endblock %}
<p>Este proyecto analiza tres aplicaciones de nutrición: <strong>MyFitnessPal</strong>, <strong>FatSecret</strong> y <strong>Cronometer</strong>.</p>
<p>Se evaluaron sus principales funciones, experiencia de usuario y modelo de negocio para identificar fortalezas y debilidades.</p>
<h3>Objetivos</h3>

    <p>Analizar características clave de las aplicaciones de nutrición.</p>
    <p>Conocer las preferencias de los usuarios mediante una encuesta.</p>
    <p>Proponer mejoras para una futura app nutricional.</p>

{% endblock %}
